@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans");
@keyframes lightboxIn {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes chevronTranslate {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(14vw);
    }
}
@keyframes chevronRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes transitionChevronY {
    0% {
        transform: translateY(-10vw);
    }
    100% {
        transform: translateY(0);
    }
}
* {
    box-sizing: border-box;
    font-family: DM Sans;
    font-style: normal;
}
html {
    margin-left: 5%;
    margin-right: 5%;
}
#logo {
    width: 200px;
    height: 50px;
    object-fit: contain;
}
#profil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
}
.article-profil {
    width: 45%;
}
.nom-profil {
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    color: #D3573C;
}
.ville-profil {
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
    margin-top: 10px;
}
.citation-profil {
    font-size: 1.125em;
    font-weight: 400;
    color: #525252;
}
.tags-profil {
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.tag {
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 500;
    color: #901C1C;
    border: 0.5px solid #C4C4C4;
    border-radius: 12px;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}
.tag:hover {
    color: #FFF;
    background-color: #901C1C;
}
.tag:focus {
    color: #FFF;
    text-decoration: underline;
    background-color: #901C1C;
}
.contact-profil {
    height: 69px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #901C1C;
    position: relative;
    bottom: 65px;
    right: 8vw;
}
.btn-modal {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
    color: #FFF;
}
.btn-modal:hover {
    color: #000;
}
.btn-modal:focus {
    color: #000;
}
.image-profil {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.info-profil {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #DB8876;
    border-radius: 5px;
    padding: 20px 3vw;
}
.prix-profil {
    font-size: 1.5em;
    font-weight: 500;
    margin-right: 5vw;
}
.likes-profil {
    font-size: 1.5em;
    font-weight: 500;
}
#trieuse {
    display: flex;
    cursor: pointer;
}
.tri-categorie {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
#trieuse:hover .tri-categorie {
    width: 170px;
    height: 160px;
    position: initial;
    overflow: visible;
    background-color: #901C1C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.625em 1.875em 0 1.875em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    border-radius: 5px;
    animation: transitionChevronY 150ms linear;
}
.trier i {
    padding-left: 15px;
    color: #000;
}
#trieuse:hover .trier i {
    position: absolute;
    transform: translateX(9em) rotate(180deg);
    transition: transform 200ms ease 50ms;
    color: #FFF;
}
.trier {
    font-size: 1.125em;
    font-weight: bold;
}
.tri-popularite {
    color: #FFF;
    cursor: pointer;
    border-bottom: 1px solid;
    padding-left: 1.25em;
    padding-bottom: 0.94em;
    margin: 0;
    padding-top: 0.75em;
}
.tri-date {
    color: #FFF;
    cursor: pointer;
    border-bottom: 1px solid;
    padding-left: 1.25em;
    padding-bottom: 0.94em;
}
.tri-titre {
    color: #FFF;
    cursor: pointer;
    padding-left: 1.25em;
    margin-top: 0;
}
#article-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.media-photographe {
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
.info-media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.coeur {
    width: 10%;
    padding-top: 30px;
    padding-left: 1em;
    color: #901C1C;
    cursor: pointer;
    font-size: 1.2em;
}
.coeur:hover {
    font-weight: bold;
}
.coeur.bold {
    font-weight: bold;
}
.titre-media {
    width: 80%;
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
}
.tag-media {
    display: none;
}
.likes-media {
    display: none;
}
.date-media {
    display: none;
}
.prix-media {
    display: none;
}
.lightbox.show {
    display: initial;
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn 500ms;
}
.lightbox__next {
    border: none;
    font-size: 55px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0%;
    margin-top: 80px;
    transition: opacity 300ms;
    opacity: 0.5;
    cursor: pointer;
}
.lightbox__preview {
    border: none;
    font-size: 55px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    margin-top: 80px;
    opacity: 0.5;
    transition: opacity 300ms;
    cursor: pointer;
}
.lightbox__close {
    border: none;
    font-size: 55px;
    height: auto;
    position: fixed;
    top: 0px;
    right: 50px;
    margin-top: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 300ms;
    z-index: 11;
}
.lightbox__preview:hover,
.lightbox__next:hover,
.lightbox__close:hover {
    opacity: 1;
}
.lightbox__container img {
    display: none;
    max-width: 100%;
    height: auto;
    animation: lightboxIn 500ms;
}
.lightbox-video {
    display: none;
    max-width: 100%;
    height: auto;
    animation: lightboxIn 500ms;
}
.lightbox-video.show {
    display: initial;
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}
.modal-contact {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }
  .modal-contact.show {
      display: initial;
  }
  
  .content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
  }
  
  .modal-body {
    padding: 15px 8%;
    margin: 15px auto;
  }
  
  label {
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  }
  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  .text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
  }
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .btn-submit{
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}