@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans");
@keyframes lightboxIn {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes chevronTranslate {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(14vw);
    }
}
@keyframes chevronRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes transitionChevronX {
    0% {
        transform: translateX(-10vw) rotate(90deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}
:root {
    --primaire-color: #911c1c;
    --second-color: #D3573C;
    --bg-color:  #E5E5E5;
    --border-tag-color: #C4C4C4;
    --border-acces-color: #95FFF9;
    --bg-acces-color: #DB8876;
}
* {
    box-sizing: border-box;
    font-family: DM Sans;
    font-style: normal;
}
html {
    margin-left: 5%;
    margin-right: 5%;
}
header a {
    display: block;
    width: 20%;
}
header a:focus {
    border: 2px solid var(--border-acces-color);
}
#logo {
    width: 250px;
    object-fit: contain;
}
#profil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
}
#profil:focus {
    border: 2px solid var(--border-acces-color);
}
.article-profil {
    width: 45%;
}
.nom-profil {
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    color: #D3573C;
}
.ville-profil {
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
    margin-top: 10px;
}
.ville-profil:focus {
    border: 2px solid var(--border-acces-color);
}
.citation-profil {
    font-size: 1.125em;
    font-weight: 400;
    color: #525252;
}
.citation-profil:focus {
    border: 2px solid var(--border-acces-color);
}
.tags-profil {
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.tags-profil:focus {
    border: 2px solid var(--border-acces-color);
}
.tag {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: #901C1C;
    border: 0.5px solid #C4C4C4;
    border-radius: 12px;
    padding: 0.4vh 0.4vw;
    margin: 0 0.3vw;
    text-align: center;
    cursor: pointer;
}
.tag:hover {
    color: #FFF;
    background-color: #901C1C;
    cursor: pointer;
}
.tag.focus {
    color: #FFF;
    background-color: #901C1C;
}
.tag:focus {
    color: #FFF;
    background-color: #901C1C;
}
.contact-profil {
    height: 69px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #901C1C;
    position: relative;
    bottom: 65px;
    right: 8vw;
}
.btn-modal {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
    color: #FFF;
}
.btn-modal:hover {
    color: #000;
}
.btn-modal:focus {
    color: #000;
    border: 2px solid var(--border-acces-color);
}
.image-profil {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.image-profil:focus {
    border: 2px solid var(--border-acces-color);
}
.info-profil {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #DB8876;
    border-radius: 5px;
    padding: 20px 3vw;
    display: flex;
    flex-direction: row-reverse;
}
.prix-profil {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 5vw;
}
.coeur-profil {
    padding-left: 0.5vw;
    font-weight: bold !important;
}
.likes-profil {
    font-size: 1.5em;
    font-weight: 500;
}
#trieuse {
    width: 30%;
    display: flex;
    cursor: pointer;
    padding-bottom: 20px;
}
.tri-categorie {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
.tri-categorie.visible {
    width: 150px;
    height: 130px;
    position: initial;
    overflow: visible;
    background-color: #901C1C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.625em 1.875em 0 1.875em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    border-radius: 5px;
    animation: transitionChevronX 150ms linear;
}
.chevron.visible {
    position: absolute;
    transform: translateX(9em) rotate(180deg);
    transition: transform 200ms ease 50ms;
    color: #FFF;    
}
#trieuse:hover .tri-categorie {
    width: 150px;
    height: 130px;
    position: initial;
    overflow: visible;
    background-color: #901C1C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.625em 1.875em 0 1.875em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    border-radius: 5px;
    animation: transitionChevronX 150ms linear;
}
.chevron {
    padding-left: 15px;
    color: #000;
}
#trieuse:hover .chevron {
    position: absolute;
    transform: translateX(9em) rotate(180deg);
    transition: transform 200ms ease 50ms;
    color: #FFF;
}
.trier {
    font-size: 1.125em;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    margin: 2vh 0vw;
    height: 3vh;
}
.trier:focus {
    border: 2px solid var(--border-acces-color);
}
.ligne-un {
    list-style-type: none;
    border-bottom: 1px solid #FFF;
    width: 100%;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.ligne-deux {
    list-style-type: none;
    border-bottom: 1px solid #FFF;
    width: 100%;
    padding-bottom: 1vh;
}
.ligne-trois {
    list-style-type: none;
    width: 100%;
    padding-bottom: 1vh;
}
.tri-popularite {
    color: #FFF;
    cursor: pointer;
    padding: 0 1em;
    width: auto;
    display: block;
}
.tri-popularite:focus {
    border: 2px solid var(--border-acces-color);
}
.tri-date {
    color: #FFF;
    cursor: pointer;
    padding: 0 1em;
    width: auto;
    display: block;
}
.tri-date:focus {
    border: 2px solid var(--border-acces-color);
}
.tri-titre {
    color: #FFF;
    cursor: pointer;
    padding: 0 1em;
    width: auto;
    display: block;
}
.tri-titre:focus {
    border: 2px solid var(--border-acces-color);
}
.tri-popularite:hover {
    color: #000;
}
.tri-date:hover {
    color: #000;
}
.tri-titre:hover {
    color: #000;
}
.active {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
#article-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
article {
    position: initial;
    width: 30%;
}
article.invisible {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
.media-photographe {
    height: 300px;
    width: 350px;
    object-fit: contain;
    border-radius: 5px;
}
.media:focus {
    display: block;
    border: 2px solid var(--border-acces-color);
}
.info-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coeur {
    color: #901C1C;
    cursor: pointer;
    font-size: 1.2em;
}
.coeur:hover {
    font-weight: bold;
}
.coeur.bold {
    font-weight: bold;
}
.titre-media {
    width: 80%;
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
}
.titre-media:focus {
    border: 2px solid var(--border-acces-color);
}
.nb-likes {
    font-size: 1.5em;
    color: #901C1C;
    padding-left: 1vw;
}
.nb-likes:focus {
    border: 2px solid var(--border-acces-color);
}
.lightbox.show {
    display: initial;
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn 500ms;
}
.lightbox__next {
    border: none;
    font-size: 3.5em;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0%;
    margin-top: 5%;
    transition: opacity 300ms;
    opacity: 0.7;
    cursor: pointer;
    background-color: transparent;
    color: #FFF;
}
.lightbox__preview {
    border: none;
    font-size: 3.5em;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    margin-top: 5%;
    transition: opacity 300ms;
    opacity: 0.7;
    cursor: pointer;
    background-color: transparent;
    color: #FFF;
}
.lightbox__close {
    border: none;
    font-size: 4.1em;
    height: auto;
    position: fixed;
    top: 0px;
    right: 1vw;
    margin-top: 0px;
    background-color: #901C1C;
    cursor: pointer;
    transition: opacity 300ms;
    z-index: 11;
    opacity: 0.7;
    border-radius: 5px;
    color: #FFF;
}
.lightbox__preview:hover,
.lightbox__next:hover,
.lightbox__close:hover {
    opacity: 1;
}
.lightbox__container img {
    display: none;
    max-width: 100%;
    height: auto;
    animation: lightboxIn 500ms;
}
.lightbox-video {
    display: none;
    max-width: 100%;
    height: auto;
    animation: lightboxIn 500ms;
}
.lightbox-video.show {
    display: initial;
}
.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}
.modal-contact {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}
.modal-contact.show {
    display: initial;
}
.content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: var(--bg-acces-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #000;
    padding-top: 10px;
}
.modal-body {
    padding: 0 5%;
}
.contact-me {
    font-size: 2.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.modal__close {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.modal__close:focus {
    border: 2px solid var(--border-acces-color);
}
.modal-close {
    color: #FFF;
    font-size: 3em;
}
.modal-close:hover {
    color: var(--primaire-color);
}
.nom-contact {
    font-size: 2.5em;
    margin: 0 0 2vh 0;
}
label {
    font-size: 1.5em;
    font-weight: normal;
    display: inline-block;
    margin-top: 0.3vh;
}
input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}
.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.3em;
    height: 48px;
}
.text-control:focus {
    border: 2px solid var(--border-acces-color);
}
textarea {
    padding: 10px;
    max-width: 100%;
    min-height: 170px;
    max-height: 250px;
    line-height: 1.5;
    border-radius: 5px;
}
textarea:focus {
    border: 2px solid var(--border-acces-color);
}
.btn-submit{
    background: var(--primaire-color);
    border-radius: 7px;
    font-size: 1.1em;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin-top: 2vh;
}
.btn-submit:hover {
    background-color: #FFF;
    color: var(--primaire-color);
    font-weight: bold;
}
.btn-submit:focus {
    border: 2px solid var(--border-acces-color);
}