@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans");
:root {
    --primaire-color: #911c1c;
    --second-color: #D3573C;
    --bg-color:  #E5E5E5;
    --border-tag-color: #C4C4C4;
    --border-acces-color: #95FFF9;
    --bg-acces-color: #DB8876;
}
* {
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: DM Sans, sans-serif;
    font-style: normal;
}
html {
    margin: 0 3%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}
.retour-index {
    width: 182px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 1vh;
    border-radius: 5px;
    background-color: var(--bg-acces-color);
}
.fixe {
    position: fixed;
    top: 0;
    left: 50%;
    width: 182px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--bg-acces-color);
    z-index: 3;
}
.retour-texte {
    position: absolute;
    top: 10%;
    left: 8%;
    background-color: var(--bg-acces-color);
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.12em;
    line-height: 1.44em;
    text-align: center;
}
.retour-texte:focus {
    border: 2px solid var(--border-acces-color);
}
#logo {
    width: 250px;
    object-fit: contain;
}
#logo:focus {
    border: 2px solid var(--border-acces-color);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
#nav:focus {
    border: 2px solid var(--border-acces-color);
}
.tag {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: var(--primaire-color);
    border: 0.5px solid var(--border-tag-color);
    border-radius: 12px;
    padding: 0.4vh 0.4vw;
    margin: 0 0.3vw;
    text-align: center;
    cursor: pointer;
}
.tag:hover {
    background-color: var(--primaire-color);
    color: var(--border-tag-color);
    cursor: pointer;
}
.tag.focus {
    background-color: var(--primaire-color);
    color: var(--border-tag-color);
}
.tag:focus {
    background-color: var(--primaire-color);
    color: var(--border-tag-color);
}
.tag.invisible {
    display: none;
}
.titre-page {
    font-size: 2.25em;
    color: var(--primaire-color);
}
#selection-photographes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cadre-profil {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0;
}
.cadre-profil:focus {
    border: 2px solid var(--border-acces-color);
}
.lien-profil {
    width: 27.4vw;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0;
}
.lien-profil:hover {
    cursor: pointer;
    background-color: var(--border-tag-color);
}
.lien-profil:focus {
    border: 2px solid var(--border-acces-color);
}
.lien-profil img {
    border-radius: 100%;
    width: 13.7vw;
    height: 13.7vw;
    object-fit: cover;
}
.cadre-photo:focus {
    border: 2px solid var(--border-acces-color);
}
.nom-profil {
    align-self: center;
    font-size: 2.25em;
    text-align: center;
    color: var(--second-color);
    margin-bottom: 0;
}
.cadre-fiche-photographe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadre-fiche-photographe:focus {
    border: 2px solid var(--border-acces-color);
}
address {
    font-size: 0.9em;
    text-align: center;
    color: #901c1c;
}
.citation-profil {
    font-size: 0.7em;
    text-align: center;
    color: #000;
}
.prix-profil {
    font-size: 0.7em;
    text-align: center;
    color: #757575;
    margin-top: 0;
}
.cadre-tags-photographe {
    display: flex;
    align-self: center;
}
.cadre-tags-photographe:focus {
    border: 2px solid var(--border-acces-color);
}
.cadre-profil.invisible {
    display: none;
}
.cadre-profil.active {
    border: 2px solid #95FFF9;
}